/*GENERAL**/
body {
  font-family: 'Ek Mukta', sans-serif; }

.img-logo {
  position: absolute;
  top: 1px;
  max-height: 97px;
  z-index: 11; }

.info {
  margin-bottom: 10px; }

.modal-content {
  background-color: #ffffff;
  width: 1100px;
  padding-right: 40px;
  padding-left: 40px; }

.modal-content > p {
  margin-left: 10px;
  font-weight: normal;
  font-size: 20px;
  color: #464646 !important;
  letter-spacing: 0.3px;
  line-height: 1.45; }

.modal-content > strong {
  margin-left: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #464646 !important;
  letter-spacing: 0.3px;
  line-height: 1.45; }

.boton, .boton-contact {
  border-color: transparent;
  color: #ffffff;
  background-color: #ec1923; }

.boton-contact {
  font-weight: 600;
  font-size: 45px;
  color: #ffffff !important;
  letter-spacing: -0.1px;
  line-height: initial;
  text-align: left;
  width: 100%; }

.center {
  text-align: center;
  position: relative;
  top: -8px; }

.mg-t-90 {
  margin-top: 90px !important; }

.mg-b-120 {
  margin-bottom: 120px !important; }

.pd-l-39 {
  padding-left: 39px; }

.pd-t-28 {
  padding-top: 28px; }

.ovalo-negro {
  width: 17px;
  height: 17px;
  background-color: #535353;
  border-radius: 15px;
  position: relative;
  left: -17px; }

.ovalo-blanco {
  width: 28px;
  height: 28px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-top: 6%;
  margin-left: 1rem; }

.raya {
  width: 142px;
  border-bottom: 4px solid #535353;
  position: relative;
  top: 38%;
  left: 100%; }

.card-content {
  height: 585px;
  background-color: #d8d8d8; }

.footer {
  height: 233px;
  background-color: #323232; }

.contact {
  position: relative;
  top: 200px; }

.text-footer {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff !important;
  letter-spacing: -0.1px;
  line-height: 1.15;
  text-align: center; }

.datos-footer {
  font-weight: normal;
  font-size: 15px;
  color: #ffffff !important;
  letter-spacing: -0.1px;
  line-height: initial;
  letter-spacing: -0.1px; }

.mas {
  font-weight: 500;
  font-size: 30px;
  color: #ffffff !important;
  letter-spacing: 0.2px;
  line-height: 1.45;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #535353;
  width: 100%; }

.img-equipo {
  width: 243px;
  height: 243px;
  margin-left: 25%; }

.img-eventos {
  width: 100%;
  height: 188px; }

.registrarme {
  width: 100%;
  position: relative;
  top: -8px; }

.box-contact {
  width: 88%;
  height: 574px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }

.h {
  background-color: #ec1923; }

.nav {
  background-image: linear-gradient(to right, #ffffff, #d40008); }

.r {
  background-image: linear-gradient(to left, #ffffff, #d40008); }

.nav-item {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff !important;
  letter-spacing: initial;
  line-height: initial; }

.negrita {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff !important;
  letter-spacing: initial;
  line-height: initial; }

.tit {
  font-weight: 600;
  font-size: 60px;
  color: #232323 !important;
  letter-spacing: initial;
  line-height: 0.93; }

.tit2, .tit2-custom {
  font-weight: 600;
  font-size: 45px;
  color: #464646 !important;
  letter-spacing: -0.1px;
  line-height: initial; }

.tit2-custom {
  margin-bottom: 0px !important; }

.tit3 {
  font-weight: 600;
  font-size: 35px;
  color: #ffffff !important;
  letter-spacing: -0.1px;
  line-height: initial; }

.subtit {
  font-weight: 600;
  font-size: 25px;
  color: #464646 !important;
  letter-spacing: initial;
  line-height: initial; }

.subtit2 {
  font-weight: 600;
  font-size: 40px;
  color: #242424 !important;
  letter-spacing: -0.1px;
  line-height: initial;
  text-align: center; }

.subtit3 {
  font-weight: 600;
  font-size: 30px;
  color: #5d5d5d !important;
  letter-spacing: -0.1px;
  line-height: initial;
  text-align: center; }

.sub-content {
  font-weight: normal;
  font-size: 18px;
  color: #464646 !important;
  letter-spacing: 0.1px;
  line-height: 1.22; }

.sub-content2 {
  font-weight: normal;
  font-size: 20px;
  color: #464646 !important;
  letter-spacing: 0.3px;
  line-height: 1.45; }

.p-cv {
  font-weight: normal;
  font-size: 20px;
  color: #8f8e8e !important;
  letter-spacing: 0.3px;
  line-height: 1.45; }

.p-card {
  font-weight: normal;
  font-size: 20px;
  color: #464646 !important;
  letter-spacing: 0.3px;
  line-height: 1.45; }

.city {
  font-weight: normal;
  font-size: 20px;
  color: #242424 !important;
  letter-spacing: -0.1px;
  line-height: initial; }

.descripcion {
  font-weight: 600;
  font-size: 30px;
  color: #242424 !important;
  letter-spacing: -0.1px;
  line-height: 1.17; }

.direccion {
  font-weight: 300;
  font-size: 20px;
  color: #242424 !important;
  letter-spacing: -0.1px;
  line-height: initial; }

.fecha {
  font-weight: 600;
  font-size: 20px;
  color: #ec1923 !important;
  letter-spacing: -0.1px;
  line-height: initial; }

.tit-mini {
  font-weight: normal;
  font-size: 30px;
  color: #5d5d5d !important;
  letter-spacing: -0.1px;
  line-height: initial; }

/*# sourceMappingURL=index.css.map */
