//output:../index2.html

doctype
html(lang="en_US")
  include header.pug.jade
  body
    section.banner
      .columns.pad
        .column
          h1.h1 Type something #[strong Otra cosa mas]
          p.p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum,
        .column
    section.section2.mb
      .columns.pad-right(style="background-color:black;")
        .column.is-3
        .column.is-9
          h2.h1 #[strong Hugo] Carmona
          p.p1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper.empor.Ut eget imperdiet neque. In volutpat ante semper.
    section.eventos
      h2.center.title EVENTOS
      .columns.pad
        .column.border-right
          .box-event
            .left Emprendedores que Venden como Multinacionales
            .right
              p Camara de Comercio Empresarial Salitre
              p Bogota Colombia
          .foot-event
            .left 05:00 Pm
            .right 15 Octubre 2017
        .column.border-right
          .box-event
            .left Emprendedores que Venden como Multinacionales
            .right
              p Camara de Comercio Empresarial Salitre
              p Bogota Colombia
          .foot-event
            .left 05:00 Pm
            .right 15 Octubre 2017
            
    section.section4
      .columns.pad2
        .column.center
          img(src="" alt="#")
          p “Curabitur lobortis id lorem id bibendum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacinia at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros id lacus vestibulum vestibulum. Suspendisse fermentum sem sagittis ante”
          .flex-center
            .firma
          .avatar
            .left
              img.img
            .right
              .name Jose Manuel Rodriguez
              .cargo Directora Web and planeamiento
              
