//output:index.html
doctype
html(lang="es_CO")
  header
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title="Alkes"
    link(href="https://fonts.googleapis.com/css?family=Ek+Mukta", rel="stylesheet")
    link(href="bulma-0.4.2/css/bulma.css", rel="stylesheet")
    link(href="sass/index.css", rel="stylesheet")
body
  
